/* Scss Document */

/*Color variables*/
$link_color: #333;
$box_background: #c5c5c5;
$active: #707070;
$hover_menu: #dee2e6;

body{ /*small reset*/
	padding: 0;
	margin: 0;
}

/*Navigation*/
.refresh{
	width: auto;
	height: 20px;
}

a{
	color: $link_color;
}

a:hover{
	color: #000;
}

.box{
	background-color: $box_background;
	padding: 0.5em 1.5em;
	border-left: 1px solid $hover_menu;
	border-right: 1px solid $hover_menu;
}

.soeg{
	background-color: $box_background;
	border-left: 1px solid $hover_menu;
	border-right: 1px solid $hover_menu;
}

.addtab{
	width: auto;
	height: 15px;
}

.nav-pills .nav-link {
    border-radius: 0;
}

.nav-pills .nav-link:hover {
    background-color: $active;
	color: #fff;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: $active;
}

.portal{
	display: block;
    padding: .5rem 1rem;
	margin: 0;
}

.opgaver{
	display: block;
    padding: .5rem 1rem;
	border-bottom: 1px solid $box_background;
	margin: 0 0 1em 0;
	background-color: $box_background;
}

.sletfane{
	width: auto;
	height: 10px;
	padding-left: 15px;
}


/*-------------------Navigation slut--------------------*/

/*-------------------Blandet styling--------------------*/

.vindue {
	width: auto;
	height: 20px;
}

.float-vindue{
	position: absolute;
	right: 0;
}

.float{
	position: relative;
}

.div-box{
	height: 8em;
}

a.nav-link.minus {
    padding: 0.3rem 1rem;
	background-color: $box-background;
	border-left: 1px solid $hover_menu;
	border-right: 1px solid $hover_menu;
}

a.nav-link.sidemenu {
    padding: 0.3rem 1rem;
}

.pil {
    width: auto;
    height: 8px;
    padding-left: 5px;
}

/*-------------------Blandet styling slut---------------*/

/*-------------------Form style---------------------*/

.form-control{
	border-radius: 0;
}

.btn {
	border-radius: 0;
}

.btn-primary {
    color: #fff;
    background-color: $active;
    border-color: $active;
}

.btn-primary:hover {
    color: #fff;
    background-color: #c5c5c5;
    border-color: #c5c5c5;
}

.btn-secondary {
    color: #fff;
    background-color: $box-background;
    border-color: $box-background;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

/*-----------------------Table style---------------------*/
th {
    padding-right: 10px;
}

tr, th, td {
    border: 1px solid $active;
	padding-left: 10px;
	font-size: 14px;
}

table {
    width: 100.2%;
}

input[type=checkbox] {
    margin-left: 30px;
}